@{
    ViewBag.Title = "Contact";
}

<div class="sidebar">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
    <div class="sidebar-wrapper ps ps--active-x ps--active-y">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">
                CT
            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
                Creative Tim
            </a>
        </div>
        <ul class="nav">
            <li class="">
                <a href="~/Home/Index">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Homebage</p>
                </a>
            </li>
            <li class="">
                <a href="~/User/PesrsonalInfo">
                    <i class="tim-icons icon-single-02"></i>
                    <p>Pesrsonal Info</p>
                </a>
            </li>
            <li class="">
                <a href="~/User/Education">
                    <i class="tim-icons icon-paper"></i>
                    <p>Education</p>
                </a>
            </li>
            <li class="">
                <a href="~/User/Experiences">
                    <i class="tim-icons icon-single-copy-04"></i>
                    <p>Experiences</p>
                </a>
            </li>
            <li class="">
                <a href="~/User/Appearance">
                    <i class="tim-icons icon-palette"></i>
                    <p>Appearance</p>
                </a>
            </li>
        </ul>
        <div class="ps__rail-x" style="width: 80px; left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 55px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 362px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 211px;"></div></div>
    </div>
</div>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>