@{
    ViewBag.Title = "Home Page";
}
<div class="card card-chart" style="margin-top: 120px;">
    <p class="text-center align-middle p-5" id="demo" style="font-size: 40px; "></p>

</div>

<div class="text-center">

    <a href="~/User/Forms" class="btn btn-primary btn-round m-auto w-25">Get startred</a>

</div>




<script>
 
var i = 0;
var txt = 'Build Your Career';
var speed = 120;

    typeWriter()

function typeWriter() {
  if (i < txt.length) {
    document.getElementById("demo").innerHTML += txt.charAt(i);
    i++;
    setTimeout(typeWriter, speed);
  }
    }

</script>